/build/
/bin/
target/
.idea
classes/
META-INF/
*.jar
*.war
*.ear
*.db
Thumbs.db 
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
.classpath
.settings/
.loadpath
/src/main/resources/rebel.xml
