<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapperInterface.BoardMapper">

	<sql id="search">
		<if test="keyword != null">
			<bind value="'%' + keyword + '%'" name="keyVal"/>
		</if>
		<choose>
			<when test="searchType == 'n'.toString()">
				and title like #{keyVal}
				or content like #{keyVal}
				or id like #{keyVal} )
			</when>
		
			<when test="searchType == 't'.toString()">
				and title like #{keyVal} )
			</when>

			<when test="searchType == 'c'.toString()">
				and content like #{keyVal} )
			</when>

			<when test="searchType == 'i'.toString()">
				and id like #{keyVal} )
			</when>

			<when test="searchType == 'tc'.toString()">
				and title like #{keyVal}
				or content like #{keyVal} )
			</when>

			<otherwise>)</otherwise>
		</choose>
	</sql>


	<select id="searchPost" resultType="vo.BoardVO">
		select seq, id, title, DATE_FORMAT(regdate, '%Y-%m-%d %H:%i') regdate, cnt, root, step, indent,
		(select count(*) from reply a where a.seq = b.seq) replyCount
		from board b
		where (seq > 0
		<include refid="search"></include>
		order by root desc, step asc
		limit #{sno}, #{rowsPerPage}
	</select>

	<select id="countPost" resultType="int">
		select count(*) from board
		where (seq > 0
		<include refid="search"></include>
	</select>

	<select id="criTotalCount" resultType="int">
		select count(*) from board
	</select>

	<select id="readPost" resultType="vo.BoardVO">
		select seq, id, title, content, DATE_FORMAT(regdate, '%Y-%m-%d \| %H:%i') regdate, cnt 
		from board 
		where seq = #{seq}
	</select>

	<insert id="writePost">
		<selectKey keyProperty="seq" resultType="int" order="BEFORE">
			select IFNULL(max(seq), 0) + 1 from board
		</selectKey>
		insert into board(seq, id, title, content, root)
		values(#{seq}, #{id}, #{title}, #{content}, #{seq})
	</insert>

	<update id="modifyPost">
		update board set title = #{title}, content = #{content}
		where seq = #{seq}
	</update>

	<!-- if 조건문 -->
	<delete id="removePost">
		delete from board
		<!-- 원글 삭제 : 동일 root 는 모두 삭제 -->
		<if test="seq == root">
			where root = #{seq}
		</if>

		<!-- 답글만 삭제 -->
		<if test="seq != root">
			where seq = #{seq}
		</if>
	</delete>

	<!-- 조회수 증가 -->
	<update id="countHits">
		update board set cnt = cnt + 1 
		where seq = #{seq}
	</update>

	<!-- Reply Insert -->
	<insert id="writeReply">
		<selectKey keyProperty="seq" resultType="int" order="BEFORE">
			select IFNULL(max(seq), 0) + 1 from board
		</selectKey>
		insert into board(seq, id, title, content, root, step, indent)
		values(#{seq}, #{id}, #{title}, #{content}, #{root}, #{step}, #{indent})
	</insert>

	<update id="updateStep">
		<selectKey keyProperty="seq" resultType="int" order="BEFORE">
			select max(seq) from board
		</selectKey>
		update board set step = step + 1 
		where root = #{root} and step >= #{step}
		and seq != #{seq}
	</update>
	
    <delete id="removeReply">
       delete from reply
       where seq = #{seq}
    </delete>

</mapper>