<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapperInterface.FlashGameMapper">

	<select id="flashGameList" resultType="vo.GameVO">
		select *
		from flashgame
		where (game_number > 0)
		<if test="keyword != null">
			<bind name="keyVal" value="'%' + keyword + '%'" />
			and (game_name like #{keyVal})
		</if>

		order by game_name
		limit #{sno}, #{rowsPerPage}
	</select>

	<select id="viewCount" resultType="int">
		select count(*)
		from flashgame
		where (game_number > 0)
		<if test="keyword != null">
			<bind name="keyVal" value="'%' + keyword + '%'" />
			and (game_name like #{keyVal})
		</if>
	</select>
	
	<select id="detailFlashGame" resultType="vo.GameVO">
		select * from FlashGame
		where game_name = #{game_name}
	</select>
	
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

	<insert id="insertFlashGame">
		<selectKey keyProperty="game_number" resultType="int" order="BEFORE">
			select IFNULL(max(game_number), 0) + 1 
			from flashgame
		</selectKey>
		insert into flashGame
		values (#{game_number}, #{game_name}, #{site}, #{game_img})
	</insert>

	<update id="updateFlashGame">
		update FlashGame set site = #{site}, game_img = #{game_img} 
		where game_name = #{game_name}
	</update>
	
	<delete id="deleteFlashGame">
		delete from FlashGame
		where game_name = #{game_name}
	</delete>

</mapper>