<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapperInterface.MobileGameMapper">

	<!-- ============================================================= -->

	<select id="mobileGameList" resultType="vo.GameVO">
		select game_img, game_name
		from mobilegame
		where (game_number > 0)
		<if test="keyword != null">
			<bind name="keyVal" value="'%' + keyword + '%'" />
			and (game_name like #{keyVal})
		</if>

		<if test="check != null">
			<foreach collection="check" item="it" open=" and ( " close=")" separator="or ">
				FIND_IN_SET(#{it}, category)
			</foreach>
		</if>
		order by category, game_name
		limit #{sno}, #{rowsPerPage}
	</select>

	<select id="viewCount" resultType="int">
		select count(*)
		from mobilegame
		where (game_number > 0)
		<if test="keyword != null">
			<bind name="keyVal" value="'%' + keyword + '%'" />
			and (game_name like #{keyVal})
		</if>
		<if test="check != null">
			<foreach collection="check" item="it" open=" and ( " close=")" separator="or ">
				FIND_IN_SET(#{it}, category)
			</foreach>
		</if>
	</select>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

	<insert id="insertMobileGame">
		<selectKey keyProperty="game_number" resultType="int" order="BEFORE">
			select IFNULL(max(game_number), 0) + 1 from pcgame
		</selectKey>
		insert into MobileGame
		values (#{game_number}, #{category}, #{game_name}, #{launch}, #{publisher}, #{price}, #{grade}, 
		#{site}, #{game_img}, #{intro}, #{video}, #{count})
	</insert>

	<update id="updateMobileGame">
		update MobileGame set category = #{category}, launch = #{launch}, publisher = #{publisher}, price = #{price}, grade = #{grade}, 
		site = #{site}, game_img = #{game_img}, intro = #{intro}, video = #{video}
		where game_name = #{game_name}
	</update>

	<update id="countUp">
		update Mobilegame set count = count + 1
		where game_number = #{game_number}
	</update>

	<insert id="insertInfo">
		insert into ranking (id, game_number)
		values(#{id}, #{game_number})
	</insert>

	<select id="selectOne" resultType="vo.RankingVO">
		select * from Ranking
		where id = #{id} and game_number = #{game_number}
	</select>

	<select id="detailMobileGame" resultType="vo.GameVO">
		select * from MobileGame
		where game_name = #{game_name}
	</select>

	<delete id="deleteMobileGame">
		delete from MobileGame
		where game_name = #{game_name}
	</delete>

	<select id="showList" resultType="vo.GameVO">
		Select game_name
		From mobileGame
		Order By count desc
		Limit 0,10
	</select>

</mapper>