<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapperInterface.PcGameMapper">

	<!-- ============================================================= -->

	<!-- PcGameList -->
	<select id="pcGameList" resultType="vo.GameVO">
		select game_img, game_name
		from pcgame
		where (game_number > 0)
		<if test="keyword != null">
			<bind name="keyVal" value="'%' + keyword + '%'" />
			and (game_name like #{keyVal})
		</if>
		<if test="check != null">
			<foreach collection="check" item="it" open=" and ( " close=")" separator="or ">
				FIND_IN_SET(#{it}, category)
			</foreach>
		</if>
		order by category, game_name
		limit #{sno}, #{rowsPerPage}
	</select>

	<select id="viewCount" resultType="int">
		select count(*)
		from pcgame
		where (game_number > 0)
		<if test="keyword != null">
			<bind name="keyVal" value="'%' + keyword + '%'" />
			and (game_name like #{keyVal})
		</if>
		<if test="check != null">
			<foreach collection="check" item="it" open=" and ( " close=")" separator="or ">
				FIND_IN_SET(#{it}, category)
			</foreach>
		</if>
	</select>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

	<select id="detailPcGame" resultType="vo.GameVO">
		select * from PcGame
		where game_name = #{game_name}
	</select>
	
	<insert id="insertPcGame">
		<selectKey keyProperty="game_number" resultType="int" order="BEFORE">
			select IFNULL(max(game_number), 0) + 1 from pcgame
		</selectKey>
		insert into PcGame
		values (#{game_number}, #{category}, #{game_name}, #{launch}, #{publisher}, #{price}, #{grade}, 
		#{site}, #{game_img}, #{intro}, #{video}, #{count})
	</insert>

	<update id="updatePcGame">
		update PcGame set category = #{category}, launch = #{launch}, publisher = #{publisher}, price = #{price}, grade = #{grade}, 
		site = #{site}, game_img = #{game_img}, intro = #{intro}, video = #{video}
		where game_name = #{game_name}
	</update>

	<delete id="deletePcGame">
		delete from PcGame
		where game_name = #{game_name}
	</delete>
	
	<select id="selectOne" resultType="vo.RankingVO">
		select * from Ranking
		where id = #{id} and game_number = #{game_number}
	</select>

	<select id="showList" resultType="vo.GameVO">
		Select game_name
		From pcGame
		Order By count desc
		Limit 0,10
	</select>
	
	<insert id="insertInfo">
		insert into ranking (id, game_number)
		values(#{id}, #{game_number})
	</insert>
	
	<update id="countUp">
		update pcgame set count = count + 1
		where game_number = #{game_number}
	</update>

</mapper>