<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapperInterface.QnAMapper">

	<select id="searchPost" resultType="vo.QnAVO">
		select seq, id, title, DATE_FORMAT(regdate, '%Y-%m-%d %H:%i') regdate, cnt, root, step, indent, secret
		from qaboard
		where (seq > 0)
		order by root desc, step asc
		limit #{sno}, #{rowsPerPage}
	</select>

	<select id="countPost" resultType="int">
		select count(*) from qaboard
		where (seq>0)
	</select>

	<select id="criTotalCount" resultType="int">
		select count(*) from qaboard
	</select>

	<select id="readPost" resultType="vo.QnAVO">
		select * from qaboard where seq = #{seq}
	</select>

	<insert id="writePost">
		<selectKey keyProperty="seq" resultType="int" order="BEFORE">
			select IFNULL(max(seq),0)+1 from qaboard
		</selectKey>
		insert into qaboard(seq, id, title, content, root, secret)
		values(#{seq}, #{id}, #{title}, #{content}, #{seq}, #{secret})
	</insert>

	<update id="modifyPost">
		update qaboard set title = #{title}, content = #{content}
		where seq = #{seq}
	</update>

	<!-- if 조건문 -->
	<delete id="removePost">
		delete from qaboard
		<if test="seq == root"> where root = #{seq} </if>
		<!-- 원글 삭제 : 동일 root 는 모두 삭제 -->

		<if test="seq != root"> where seq = #{seq} </if>
		<!-- 답글만 삭제 -->
	</delete>

	<!-- 조회수 증가 -->
	<update id="countHits">
		update qaboard set cnt = cnt + 1 
		where seq = #{seq}
	</update>

	<!-- Reply Insert -->
	<insert id="writeReply">
		<selectKey keyProperty="seq" resultType="int" order="BEFORE">
			select IFNULL(max(seq), 0) + 1 from qaboard
		</selectKey>
		insert into qaboard(seq, id, title, content, root, step, indent, secret)
		values(#{seq}, #{id}, #{title}, #{content}, #{root}, #{step}, #{indent}, #{secret})
	</insert>

	<update id="updateStep">
		<selectKey keyProperty="seq" resultType="int" order="BEFORE">
			select max(seq) from qaboard
		</selectKey>
		update qaboard set step = step + 1 where root = #{root} and step >=
		#{step}
		and seq != #{seq}
	</update>

</mapper>