<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapperInterface.ReplyMapper">

	<select id="replyList" resultType="vo.ReplyVO">
		select * from Reply
		where seq = #{seq}
	</select>

	<insert id="writeReply">
		<selectKey keyProperty="reply_number" resultType="int" order="BEFORE">
			select IFNULL(max(reply_number), 0) + 1 
			from Reply
		</selectKey>
		insert into Reply(reply_number, seq, id, regdate, content)
		values(#{reply_number}, #{seq}, #{id}, now(), #{content})
	</insert>
	
    <update id="modifyReply">
       update Reply set regdate = now(), content = #{content} 
       where reply_number = #{reply_number}
    </update>

	<delete id="deleteReply">
		delete from Reply
		where reply_number = #{reply_number}
	</delete>

</mapper>